@import "src/styles/media";

.delivery-steps {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 20px 0;

  .step {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1 1;
    position: relative;

    &[data-active="true"] {
      .circle {
        background-color: #f16623;
        border-color: #f16623;

        .icon {
          fill: #ffffff;
        }
      }
    }

    &:not(&:first-child) {
      &:before {
        content: '';
        position: absolute;
        top: 40px;
        right: 50%;
        height: 4px;
        width: 100%;
        background-color: #afbbca;
        z-index: -1;

        @include lt-sm {
          top: 20px;
          height: 3px;
        }
      }

      &[data-active="true"]:before {
        background-color: #f16623;
      }
    }

    &:last-child {
      &[data-active="true"] .circle {
        background-color: #0bc15c;
        border-color: #0bc15c;

        .icon {
          fill: #ffffff;
        }
      }
    }

    .circle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 80px;
      background-color: #fff;
      border: 3px solid #afbbca;
      border-radius: 50%;

      @include lt-sm {
        width: 40px;
        height: 40px;
      }

      .icon {
        fill: #afbbca;

        @include lt-sm {
          width: 60%;
          height: 60%;
        }
      }
    }

    .title {
      margin-top: 20px;
      font-size: 15px;
      font-weight: 500;
      color: #6e7787;
      text-align: center;

      @include lt-sm {
        font-size: 10px;
      }
    }
  }
}