@import "src/styles/media";

* {
  box-sizing: border-box;
}

body {
  font-family: Rubik, sans-serif;
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: 10px;
  box-sizing: border-box;
  transition: all .2s ease-in-out;
}

.search-input {
  display: flex;
  width: 100%;

  @include lt-sm {
    flex-direction: column;
  }

  input {
    width: 100%;
    padding: 15px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #d5dde5;
    border-radius: 10px;
    margin-right: 20px;

    &:focus {
      outline: none;
      border-color: #f16623;
    }
  }

  button {
    padding: 0 3em;
    background-color: rgb(241, 102, 35);

    @include lt-sm {
      padding: 8px 16px;
      margin-top: 10px;
    }

    &:disabled {
      cursor: no-drop;
      background-color: rgb(213, 221, 229);
    }
  }
}

.query-input {
  width: 100%;
  position: relative;

  input {
    width: 100%;
    padding: 15px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #d5dde5;
    border-radius: 25px;

    &:focus {
      outline: none;
      border-color: #f16623;
    }
  }

  button {
    position: absolute;
    top: 4px;
    right: 5px;
    padding: 12px 24px;
    line-height: 1;
    border-radius: 25px;
    background-color: rgb(39, 49, 66);

    &:disabled {
      cursor: no-drop;
      background-color: rgb(213, 221, 229);
    }
  }
}

.card {
  width: 100%;
  padding: 30px;
  border-radius: 20px;
  background-color: #f4f7fa;
}

.form {
  .form-group {
    .title {
      display: block;
      margin-bottom: 10px;
    }

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}